<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
   <div class="machine">
    <%= f.fields_for :machine do |m| %>
      <%= m.label :color %>
      <%= m.text_field :color, :required => true %><br />
      <%= m.label :manufacturer %>
      <%= m.text_field :manufacturer, :required => true %><br />
      <%= m.label :make %>
      <%= m.text_field :make, :required => true %><br />
      <%= m.label :version, "Model"  %>
      <%= m.text_field :version %><br />
    <% end %>
   </div>
   <div class="abstract">
     <%= f.fields_for :technician do |a| %>
       <%= a.label :abstract, "Summary" %>
       <%= a.text_field :abstract, :required => true %>
     <% end %>
   </div>
   <div class="problem">
    <%= f.label :problem %>
    <%= f.text_area :problem, :rows => 5  %>
   </div>
   <div class="tech">
    <%= f.fields_for :technician do |t| %>
      <%= t.label :username %>
      <%= t.text_field :username, :required => true %>
    <% end %>
   </div>
    
    <%= f.submit %>
  </div>
<% end %>
